.bg-image { 
    background-image: url(https://images.unsplash.com/photo-1538669715315-155098f0fb1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
    background-size: cover;
    background-position: center;
    min-height: 85vh;

}
.side-img {
    height: 400px;
    width: 250px;
    background-image: url(https://images.unsplash.com/photo-1617541086271-4d43983704bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    background-size: cover;
    background-position: center;
    
}

.bg-form {
    background-color: rgba(255, 192, 203, 0.247);
    backdrop-filter: blur(15px);
    border: 1px solid rgb(255, 192, 218);
    border-radius: 5px;
}
.content-spill {
    transform: translateY(6em);
}

.korean {
    font-family: 'Noto Serif KR', serif;
}

@media screen and (max-width: 768px) {
    .content-spill {
        transform: none;
    }
}

.big-card {
    height: 250px;
}

.bg-color {
    background-color: rgb(243, 178, 189);
}
.bg-btn-color {
    background-color: rgb(214, 93, 114);
}
